body {
    padding: 0px;
    margin: 0px;
    border-radius: 8px;
    border-right:  white dashed 2px;
    border-left: white dashed 2px;
    border-bottom: white dashed 2px
}


#title-bar {
    -webkit-app-region: drag;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    background-color: rgba(227, 227, 160, 0.5);
    padding: none;
    margin: 0px;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
}

#title {
    position: fixed;
    top: 0px;
    left: 6px;
    color:white;
    -webkit-user-select: none;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
    height: 20px;
    line-height: 20px;
}
.title-btns{
    height: 12.5px;
    width: 20px;
    background-color:  rgba(241, 69, 69, 0.75);
    border-radius: 5px;
    vertical-align: middle;
    font-size: 10px;
    color: rgb(22, 21, 21);
}

.title-btns:hover{
    background-color: rgb(248, 53, 53);
}
#layout-bar{
  font-size: 0;
  width: auto;
}

#layout-buttons{
    position: relative;
    left: 5px;
    width: 80vw;
    height: auto;
}

.switch-btn{    
    height: 17.5px;
    width: 18px;
    vertical-align: top;
    border-radius: 2.5px;
    border-top: none;
    background-color: rgba(92, 151, 206, 0.884);
    text-align: center;
}

.switch-btn:hover{
    background-color: rgba(2, 159, 250, 0.884);
}

.htab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .htab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  

  
  /* Style the tab content */
  .htabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  .htabcontent {
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .htablinks{
    
    height: 32px;
    width: 32px;
    transition: 0.1s;
  } 
  .htablinks:active{
    height: 30px;
  }
  .hchampIcon{
    height: 50px;
    width:  50px;
    -webkit-user-select: none;
  }
  #info-bar{
    position: relative;
    top: 5px;
  }