body {
    padding: 0px;
    margin: 0px;
}


#title-bar {
    -webkit-app-region: drag;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    background-color: rgba(227, 227, 160, 0.5);
    padding: none;
    margin: 0px;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
}

#title {
    position: fixed;
    top: 0px;
    left: 6px;
    color:white;
    -webkit-user-select: none;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
    height: 20px;
    line-height: 20px;
}
.title-btns{
    height: 12.5px;
    width: 20px;
    background-color:  rgba(241, 69, 69, 0.75);
    border-radius: 5px;
    vertical-align: middle;
    font-size: 10px;
    color: rgb(22, 21, 21);
}

.title-btns:hover{
    background-color: rgb(248, 53, 53);
}
#layout-bar{
  font-size: 0;
  width: auto;
}

#layout-buttons{
    position: fixed;
    left: 5px;
    width: auto;
    height: auto;
}

.switch-btn{    
    height: 17.5px;
    width: 18px;
    vertical-align: top;
    border-radius: 2.5px;
    border-top: none;
    background-color: rgba(92, 151, 206, 0.884);
    text-align: center;
}

.switch-btn:hover{
    background-color: rgba(2, 159, 250, 0.884);
}
