body {
    padding: 0px;
    margin: 0px;
}


#title-bar {
    -webkit-app-region: drag;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    background-color: rgba(227, 227, 160, 0.5);
    padding: none;
    margin: 0px;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
}

#title {
    position: fixed;
    top: 0px;
    left: 6px;
    color:white;
    -webkit-user-select: none;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
    height: 20px;
    line-height: 20px;
}
.title-btns{
    height: 12.5px;
    width: 20px;
    background-color:  rgba(241, 69, 69, 0.75);
    border-radius: 5px;
    vertical-align: middle;
    font-size: 10px;
    color: rgb(22, 21, 21);
}

.title-btns:hover{
    background-color: rgb(248, 53, 53);
}
#layout-bar{
  font-size: 0;
  width: auto;
}

#layout-buttons{
    position: relative;
    left: 5px;
    width: 80vw;
    height: auto;
}

.switch-btn{    
    height: 17.5px;
    width: 18px;
    vertical-align: top;
    border-radius: 2.5px;
    border-top: none;
    background-color: rgba(92, 151, 206, 0.884);
    text-align: center;
}

.switch-btn:hover{
    background-color: rgba(2, 159, 250, 0.884);
}

#info-bar{
    position: relative;
    top: 2.5vh;
    /* background-color: black; */
    height: auto;
    width: auto;
}

#h-info, #desc-img{
    float:left;
}

#h-desc, #desc-text{
    float: right;
}

.vitemIcon{
    height: 9.4vh;
    width: 9.4vh;
    vertical-align: middle;
    -webkit-user-select: none;
}



#v-main{
    border: yellow solid 2px;
    float: left;
    position: relative;
    left: 5vw;
}

#v-bldcmp{
    position: relative;
    left: 10px;
    width: fit-content;
    overflow: hidden;
    border: grey solid 2px;

}
#v-items{
    overflow: hidden;
}
body{
    /* background-color: black; */

    width: 100%;
    height: 100%;
    
}

.hitemIcon{
    width: 10vw;
    height: 10vw;
    vertical-align: middle;
    -webkit-user-select: none;
}

#h-main{
    position: relative;
    left: 5px;
    border: yellow solid 2px;
    width: fit-content;
    height: fit-content;
}
#h-build{
    position: relative;
    top: 4px;
    left: 10px;
    border-top: grey solid 1px;
    border-right: grey solid 1px;
    border-left: grey solid 1px;
}
#h-cmp{
    position: relative;
    top: 4px;
    left: 10px;
    border-bottom: grey solid 1px;
    border-right: grey solid 1px;
    border-left: grey solid 1px;
}

.hitemIcon{
    transition: 0.1s;
}
.hitemIcon:active{
    width:25px;
    height: 25px;
} 
.vitemIcon{
    transition: 0.1s;
}
.vitemIcon:active{
    width:25px;
    height: 25px;
} 
