 body{
  
    background-color: rgba(250, 250, 250, 0.5);
    padding-top: 10vh;
    overflow: hidden;
    -webkit-app-region: no-drag;   
} 
html { font-size: calc(0.5em + 0.25vw) }
/* .draggable{
  height: 40px;
  width: 40px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color:rgba(250, 0, 0, 0.2);
} */

.clickable{
  background-color: rgba( 117, 117, 30, 0.25);
  height: 4vh;
  width: 8vw;
  -webkit-user-select: none;
}
.closeBar{
  background-color: rgba( 117, 117, 30, 0.25);
  height: 4vh;
  width: 4vw;
  -webkit-user-select: none;
}

#closeBar{
  position: fixed;
  top: 0%;
  right: 0%;
}

#x-shutOff{
text-align: center;

position: relative;
color: white;

}

#dragBar{
  position: absolute;
  top: 0%;
  left: 0%;
}

.clickable:hover{
  background-color: rgba( 117, 117, 30, 0.5);
  
}
.closeBar:hover{
  background-color: rgba( 255, 0, 0, 0.5);
  
}

.slidecontainer {
    width: 80%; /* Width of the outside container */
    position: inherit;
    left: 5%;
    top: 25%;
  }

  
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1vh; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5vw; /* Set a specific slider handle width */
    height: 1.5vh; /* Slider handle height */
    background: #FFF; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 2vw; /* Set a specific slider handle width */
    height: 2vw; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .infoBox{
    background-image: url('../resources/sheetBackgrounds/blackB.jpg');
    height: 91vh;
    width: 80vw;
    position: absolute;
    top: 4.5vh;
    left: 10vw;
  }
 
  .sheetTitle{
    color: white;
    position: absolute;
    bottom: 100%;
    left: 45%;
    font-size: 32px;
  }

  
  * {
    box-sizing: border-box;
  }

  [class*="col-"] {
    float: left;
    padding: 0vh;
    min-height: 20vh;
    border: 1px solid red;
    text-align: center;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* .gridContainer{

    display: grid;
    grid-template-areas: 
    'demon demon demon glacial glacial glacial noble noble noble'
    'void void void pirate pirate pirate wild wild wild'
    'yordle yordle yordle dragon dragon hextech hextech exile robot'
    'imperial imperial imperial ninja ninja ninja phantom phantom phantom';
    grid-gap: 5px;
    background-color:rgba(250, 250, 250, 0.5);
    padding: 5px;
  
  } */
  
  /* .Demon{ grid-area: demon;}
  .Dragon{ grid-area: dragon;}
  .Exile{ grid-area: exile;}
  .Glacial{ grid-area: glacial;}
  .Hextech{ grid-area: hextech;}
  .Imperial{ grid-area: imperial;}
  .Ninja{ grid-area: ninja;}
  .Noble{ grid-area: noble;}
  .Phantom{ grid-area: phantom;}
  .Pirate{ grid-area: pirate;}
  .Robot{ grid-area: robot;}
  .Void{ grid-area: void;}
  .Wild{ grid-area: wild;}
  .Yordle{ grid-area: yordle;} */

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .champIcon{
    height: 7vh;
    width: 3.5vw;
    align-content: center;
  }
  

  

