 body{
  
    background-color: rgba(250, 250, 250, 0.5);
    padding-top: 10vh;
    overflow: hidden;
    -webkit-app-region: no-drag;   
} 
html { font-size: calc(0.75em + 0.25vw) }
/* .draggable{
  height: 40px;
  width: 40px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color:rgba(250, 0, 0, 0.2);
} */

.clickable{
  background-color: rgba( 117, 117, 30, 0.25);
  height: 4vh;
  width: 8vw;
  -webkit-user-select: none;
}
.closeBar{
  background-color: rgba( 117, 117, 30, 0.25);
  height: 4vh;
  width: 4vw;
  -webkit-user-select: none;
}

#closeBar{
  position: fixed;
  top: 0%;
  right: 0%;
}

#x-shutOff{
text-align: center;

position: relative;
color: white;

}

#dragBar{
  position: absolute;
  top: 0%;
  left: 0%;
}

.clickable:hover{
  background-color: rgba( 117, 117, 30, 0.5);
  
}
.closeBar:hover{
  background-color: rgba( 255, 0, 0, 0.5);
  
}

.slidecontainer {
    width: 80%; /* Width of the outside container */
    position: inherit;
    left: 5%;
    top: 25%;
  }

  
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1vh; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5vw; /* Set a specific slider handle width */
    height: 1.5vh; /* Slider handle height */
    background: #FFF; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 2vw; /* Set a specific slider handle width */
    height: 2vw; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

